{% extends 'common/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'content/css/issue_list.css' %}">
{% endblock %}

{% block content %}
<h1>Issues</h1>
<p>Oh, we've got issues.</p>
{% for volume in issue_volumes %}
    <div class="volume">
        <div class="blackbox">
            <h2>Volume {{ volume.0.volume_num }}</h2>
        </div>
        <div class="issue-list">
            {% for issue in volume %}
            <a href="/issues/{{ issue.volume_num }}/{{ issue.issue_num }}" class="issue-preview">
                <img src="{% static 'content/img/cover_unknown.png' %}">
                <h3>Issue {{ issue.issue_num }}</h3>
            </a>
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% endblock %}
