{% extends 'common/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'content/css/issue.css' %}">
{% endblock %}

{% block content %}
<h1>{{ issue.long_name }}</h1>
<hr>
<div class="issue-body">
    <div class="issue-pdf">
        {% if issue.pdf %}
            <object data="{{ issue.pdf.url }}" type="application/pdf"></object>
        {% else %}
            <h1>Oops, there's no PDF for this issue yet.</h1>
            <p>Maybe bug an editor about it.</p>
        {% endif %}
    </div>
    <div class="issue-featured">
        <h1>In this issue:</h1>
        {% for featured in featured_articles %}
        <div class="article-preview">
            <a href="/articles/{{ featured.id }}/{{ featured.slug }}"><h2>{{ featured.title }}</h2></a>
            <div class="article-preview-body">
                {{ featured.render_to_html | safe }}
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}
