.issue-list {
    display: flex;

    overflow-x: scroll;

    padding: 1em;
}

.issue-preview {
    padding: 1em;
    text-align: center;
}

.issue-preview > img {
    margin-left: auto;
    margin-right: auto;
    height: 50vh;

    margin-bottom: 0.5em;
}
