.issue-list {
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;

    padding: 1em;
}

.issue-preview {
    padding: 1em;
    text-align: center;
}

.issue-preview > img {
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
    width: auto;

    border: 3px solid black;

    margin-bottom: 0.5em;
}
