.slugline-container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.slugline-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    background: black;
    color: var(--theme-color)
}

.mathnews-brand {
    margin: 0em;
    font-size: 5em;
    text-decoration: none;
}

.header-info > h3 {
    text-align: right;
    line-height: 0.25em;
    font-weight: normal;
}

.header-info > h3:first-child {
    font-size: 2em;
}

.slugline-nav {
    color: var(--theme-color);
    padding: 0.25em;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: black;
}

.slugline-nav > a {
    font-family: DIN Next;
    font-size: 1.25em;
    margin-top: 0.15em;

    text-transform: uppercase;
}
