/* Custom mathNEWS fonts */

@font-face {
    font-family: Joanna Nova;
    src: url("../fonts/joanna-nova-webfont.woff");
}

@font-face {
    font-family: DIN Next;
    src: url("../fonts/din-next-webfont.woff");
}

/* Background color, look into changing this dynamically? */

:root {
    --theme-color: #a05ad4;
}

/* Convenient class for mathnews logo */
.mathnews-logo::before {
    content: "math";
    font-family: Joanna Nova;
}

.mathnews-logo::after {
    content: "NEWS";
    font-family: DIN Next;
}

/* Set a themed background */
html {
    background-color: var(--theme-color);
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: DIN Next;
    text-transform: uppercase;
}

p {
    font-family: Joanna Nova;
}

/* The classic post-article horizontal line */
hr {
    background-color: black;
    border: none;
    height: 0.75em;
}
