.dash-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.user-articles-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 1em;
}

.user-articles-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-end;

    margin-top: 1em;
}
