{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'common/css/slugline.css' %}">
        <link rel="stylesheet" href="{% static 'common/css/base.css' %}">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <div class="slugline-container">
            <div class="slugline-header blackbox">
                <a class="mathnews-brand mathnews-logo" href="/"></a>
                <div class="header-info">
                    <h3>VOLUME {{ latest_issue.volume_num }} · ISSUE {{ latest_issue.issue_num }}</h3>
                    <h3>{% now 'F j, Y' %}</h3>
                </div>
            </div>
            <div class="slugline-nav blackbox">
                <a href="{% url 'issues' %}">ISSUES</a>
                <a>OTHER THINGS</a>
                <a>SUBMIT AN ARTICLE</a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'dash' %}">DASH</a>
                {% else %}
                <a href="{% url 'login' %}">LOGIN</a>
                {% endif %}
            </div>
            {% block content %}
            {% endblock %}
        </div>
        {% block js %}
        <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
        </script>
        {% endblock %}
    </body>
</html>
