// TODO: Find some way to make this dynamic based on color of next issue?
$theme-color: #a05ad4;

// Override body color
$body-bg: $theme-color;

// Use our custom fonts
$font-family-sans-serif: Joanna Nova; //This is a misnomer, our body font is serif
$headings-font-family: DIN Next;

// Style links
$link-color: black;
$link-hover-color: black;
$link-decoration: none;
