/* Custom mathNEWS fonts */

@font-face {
    font-family: Joanna Nova;
    src: url("../fonts/joanna-nova-webfont.woff");
}

@font-face {
    font-family: DIN Next;
    src: url("../fonts/din-next-webfont.woff");
}

/* Background color, look into changing this dynamically? */
:root {
    --theme-color: #a05ad4;
}

/* Convenient class for mathnews logo */
.mathnews-logo::before {
    content: "math";
    font-family: Joanna Nova;
}

.mathnews-logo::after {
    content: "NEWS";
    font-family: DIN Next;
}

/* Set a themed background and default font */
html {
    background-color: var(--theme-color);
    font-family: Joanna Nova;
}

.blackbox {
    background-color: black;
    padding: 1em 1em;
    color: var(--theme-color);
    margin-top: 1em;
    margin-bottom: 1em;

    display: flex;
    align-items: center;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: DIN Next;
    text-transform: uppercase;
    line-height: 1em;
}

/* Disable automatic link styles */
a {
    text-decoration: none;
    color: inherit;
}

/* The classic post-article horizontal line */
hr {
    background-color: black;
    border: none;
    height: 0.5em;
    width: 100%;
}

/* Make images fit their containers by default */
img {
    display: block;
    width: 50vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Table styling */ 
table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

td, th {
    padding: 0.5em;
    font-size: 1.25em;
}

th {
    text-align: left;
    font-family: DIN Next;
}

/* Page number styling */
.paginator {
    display: flex;
    justify-content: space-between;
}

.page-link {
    background-color: black;
    color: var(--theme-color);
    font-family: DIN Next;
    font-size: 1.25em;
    width: 30px;
    height: 30px;
    line-height: 30px;

    vertical-align: middle;
    text-align: center;

    margin: 5px;
}

.page-link.active {
    text-decoration: underline;
}

/* Form styling */
button {
    font-family: DIN Next;
    font-size: 1.5em;
    line-height: 1.5em;
    text-transform: uppercase;
    background-color: black;
    border: none;
    color: var(--theme-color);
}
